*.pyc
sb_values/
*.DS_Store
.DS_Store
.vscode/
src/internal/production/database/credentials.py
src/internal/production/z_head_mechanics_jig/z_head_mechanics_jig_graph.png
src/internal/production/database/csvs/
src/apps/system_tools_app/screens/calibration/sg_value_plots.png
src/core/job/job_recovery.txt
.coverage
htmlcov
resources/misc/dwt/temp/temp_config.json
